.print-preview {
  background-color: #fff;
  width: 80%;
  height: 80%;  
  place-self: center;
  aspect-ratio: 1 / 1.414;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.fullName {
  font-size: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.experience-section {
  grid-column-start: 1;
  grid-column-end: 3;
}